env/
__pycache__/
.env
/storage
/credentials.json
/myenv
/Authentication/.env
/Authentication/__pycache__/
test.py
google_drive_file_reader.ipynb
gemini-idf-gdr.ipynb
test.ipynb
Authentication/text.ipynb
driveaccess.json
mytoken.json